.navbar {
  background-color: #1864ab;
  padding-bottom: 10px;
}

.navbar-list {
  max-width: 600px;
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}
